A6-code/ClinicDTOs/src/www.example.org_clinic_schemas_Treatment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://www.example.org/clinic/schemas/Treatment" targetNamespace="http://www.example.org/clinic/schemas/Treatment" elementFormDefault="qualified">
   <xsd:complexType name="providerDTO">
      <xsd:sequence>
         <xsd:element name="id" type="xsd:long"/>
         <xsd:element name="npi" type="xsd:long"/>
         <xsd:element name="name" type="xsd:string"/>
         <xsd:element name="specialization" type="xsd:string"/>
         <xsd:element name="treatments" type="xsd:long" maxOccurs="unbounded" nillable="true"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
